/*Set General Font Styling */
*{
    font-family: IBMPlexSherif;
    font-size: 16px
}


QWidget QTabWidget {
    Background-color: #008332
}

QWidget QLabel {
    color: white
}
QWidget QDoubleSpinBox {
    Background: white;
}

QMessageBox {
    background-color: white;
}

QMessageBox QLabel {
    color: black;
}